<%= simple_form_for(@need) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :location_name %>
    <%= f.input :location_address %>
    <%= f.input :contact_for_this_location_name %>
    <%= f.input :contact_for_this_location_phone_number %>
    <%= f.input :are_volunteers_needed %>
    <%= f.input :tell_us_about_the_volunteer_needs %>
    <%= f.input :are_supplies_needed %>
    <%= f.input :tell_us_about_the_supply_needs %>
    <%= f.input :anything_else_you_would_like_to_tell_us %>
    <%= f.input :source %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
